/**
 * Базовые стили для всего сайта
 */
body {

	
	transform-origin: 0 0;
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;	
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

.myvideo {
position:relative;
padding: 0 0 30% 0;
overflow:hidden;

}
.myvideo iframe,.myvideo object,.myvideo embed {
position:absolute;
top:0;
right:15%;
width:70%;
height:100%;
}

/**
 * Другие стили
 */

 .navbar {
 	min-width:0%;
	max-width:10000vh;
 	height: 70px;
 	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
 }

 &_scrolled {
 	position: fixed;
 	animation-name: fadeInUp;
 	animation-duration: 1s;
 }

 .navbar .container {
 	height: inherit;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 .navbar-menu {
 	list-style-type: none;
 	padding-left: 0;
 	margin-bottom: 0;
 }

 .navbar-menu li {
 	display: inline-block;
 }

 .navbar-menu li a {
 	display: inline-block;
 	color: white;
 	opacity: 0.6;
 	text-decoration: none;
 	padding: 10px;
 	transition: all .07s ease-in-out;
 }

 .navbar-menu li a:hover {
 	opacity: 1;
 }

 .navbar-wrap {
 	display: flex;
 	flex-flow: row nowrap;

 }

/*.pick{
	min-width: 1px ;
	max-width: 70% ;
	min-height:1%;
	max-height:60%;
}*/


 .callback {
 	
 	padding: 10px 30px;
	background-color: grey;
 	border-radius: 70px;
  color: #fff;
  text-decoration: none;
	box-shadow: 0 4px 6px rgba(200, 200, 200, .2);
	transition: all . 1s ease-out;
 }

 .callback:hover {
   transform: scale(1.05);
	 color: #fff;
	 box-shadow: 0 9px 9px rgba(200,200 , 200, 0.3);
 }

.test_1{
	
	text-align: center;
}
.header {
	min-height: 100vh;
	max-height:10000vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;

}

.footer{
	margin-top: auto;
	color: white;
}

.ctext{
	color: white;
}

.container{
	max-width: 1000vh;
}

.subimg img{
	height:100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}


.subinfo{
	font-size: 21px;
	color: rgb(226, 217, 170);
	color: hsl(23, 118, 186);
	font-weight: 40%;
	margin-left: 35px;
}

.subimg{
	object-fit: cover;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	margin-top: 10px;
}

table{
	background: black;
	color: rgb(226, 217, 170);
	color: hsl(23, 118, 186);
	border-spacing: 5px;
	border-collapse: separate;
}

td{
	background: rgb(25, 25, 25);
	background: hsl(160, 0, 24);
}

th{
	text-align: center;
}


.Text{
	font-size: 30px;
	font-weight: 300;
	margin-left: 20px;
	color: rgb(226, 217, 170);
	color: hsl(23, 118, 0);
}

.tText{
	color: rgb(226, 217, 170);
	color: hsl(23, 118, 0);
	font-size: 30px;
	font-weight: 300;
	margin-left: 40px;
}

.text{
	color: rgb(226, 217, 170);
	color: hsl(23, 118, 0);
	font-size: 30px;
	font-weight: 300;
	margin-left: 40px;
}

@keyframes fadeInUp {
	from{
		opacity: 0;
		top: -50px;
	}
	to{
		opacity: 1;
		top: 0;
	}
}
